@import url('https://fonts.googleapis.com/css?family=Nunito');
@font-face {
  font-family: 'niceFont';
  src: url('./niceFont.ttf');
}

$primary: #0d9488;
$warning: #334155;
$success: #198754;
$body-bg: #f8fafc;
$body-color: #0f172a;

$border-radius: 0.5rem;

@import "bootstrap/scss/bootstrap";

header {
  background-image: url('./header.webp');
  background-size: cover;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

h1 {
  font-family: niceFont, serif;
  font-weight: bolder;
  padding: 1rem 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  text-shadow: 1px 1px 1px black;
  margin: 0;
}

h2 {
  font-family: niceFont, serif;
  font-weight: bolder;
  font-size: 36px;
}

h3 {
  font-weight: bolder;
  padding: 12px;
}

#app {
  font-family: 'Nunito', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  min-height: 100vh;
  background: $body-bg;
}

.toggle-btn {
  width: 150px;
  transition: 0.3s;
}

.toggle-btn.inactive {
  opacity: 0.8;
}

.toggle-btn.big:focus {
  background: $warning;
  border-color: $warning;
}

.toggle-btn.inactive.big {
  background: $warning;
  border: none;
}

.toggle-btn.inactive h3 {
  color: black !important;
}

.toggle-btn.inactive.big:hover h3 {
  color: white !important;
}

.toggle-btn.big:hover {
  opacity: 1;
}
@media (min-width: 1200px) {
  .box-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  }
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

p {
  font-size: 1.5em;
}

hr {
  margin: 0;
  width: 100%;
}

.illustration {
  width: 30%;
  min-width: 150px;
}

.link {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

.scroll-btn {
  position: fixed;
  right: 12px;
  bottom: 12px;
  background: white;
}

.scroll-btn svg {
  margin: 0;
}

.font-small {
  font-size: 0.8rem;
  text-align: right;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(20px) translateY(5px) scale(0.5);
  opacity: 0;
}

.btn.btn-primary {
  color: white !important;
}

.btn-outline-secondary,
.btn-success {
  border-radius: 0;
}

.btn-outline-secondary {
  border: 0;
}

.delete-item-btn {
  border: 0;
  padding: 6px;
}

.delete-item-btn:hover {
  background-color: grey;
}
.trash-icon-item {
  color: grey;
  margin: 0;
}
button {
  font-size: 1em;
}
button:hover .trash-icon-item {
  color: white;
}

.search-btn {
  padding: 6px 12px;
  font-size: 1em !important;
}
.search-icon {
  margin: 0 auto;
}
.trash-icon-item {
  color: grey;
  margin: 0;
}

.centered-icon {
  margin: 0 auto;
}
.check-btn {
  padding: 6px;
}
.accordion-icon {
  color: black;
  transition: 0.3s;
  display: block;
  margin: 0 auto;
}
.flipped {
  transform: rotate(180deg);
}

p {
  font-size: 1em;
}
button:hover .trash-icon-item {
  color: white;
}
svg {
  color: white;
  margin-right: 8px;
}

.dish-image {
  width: 100%;
  margin-left: 0;
}

.dish-text {
  text-align: left;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(4px);
}

.modal-detail-page {
  position: fixed;
  width: 500px;
  max-width: 95vw;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translateX(-50%) translateY(-50%);
}

.card-footer {
  text-align: right;
}

.input-group-append button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 0;
}

@media (max-width: 500px) {
  #app {
    background-image: initial;
  }
  .no-br-top-mobile,
  .no-br-mobile {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .no-br-bottom-mobile,
  .no-br-mobile {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .sticky-mobile {
    position: sticky;
    top: 0;
    z-index: 9;
  }
}

.rounded-top-left {
  border-top-left-radius: 0.25rem;
}
.rounded-top-right {
  border-top-right-radius: 0.25rem;
}
